#palette-search{
    display: block;
}
#palette-container .geItem {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: move;
}

.panel-default > .panel-heading{
    padding: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-color: #f3f3f3;
}
a:hover, a:focus{
    text-decoration: none;
}
.palette-header{
    padding:0;
}
.panel-body{
    background: #f6f6f6;
    padding: 6px;
}

.panel-body .geItem:hover {
    border: 1px solid gray !important;
}

#palette-separator{
    position: absolute;
    top: 5px;
    left: 180px;
    bottom: 10px;
    width: 7px;
    background: url(../dist/images/grip.png) no-repeat 50% 50%;
    cursor: col-resize;
}