.modal-content{
  background: #fff;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #bbb;
  .modal-header{
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    background: #f3f3f3;
  }
}
