#sidebar
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 315px;
    background: #fff;
    box-sizing: border-box;
    component-border()

    .sidebar-content
        position: absolute;
        top: 35px;
        right: 0;
        bottom: 25px;
        left: 0px;
        overflow-y: auto;
        padding: 1.5em .5em;

    #sidebar-footer
        component-footer()

#sidebar.closing
    background: #eee;
    border-color: #900;
    border-style: dashed;
