@import "flow.styl"
#workspace
    position: absolute;
    margin: 0;
    top:0px;
    left:180px;
    bottom: 0px;
    right: 322px;
    overflow: hidden;
    component-border()

    #workspace-tabs
         margin-right: 35px;

    #workspace-add-tab
        position: absolute;
        box-sizing: border-box;
        top: 0;
        right: 0;
        height: 35px;
        width: 35px;
        background: #fff;
        border-bottom: 1px solid primary-border-color;

        #btn-workspace-add-tab
            workspace-button()
            line-height: 32px;
            height: 32px;
            width: 32px;
            margin-top: 3px;
            margin-right:3px;
            border: 1px solid primary-border-color;


    #chart
       overflow: auto;
       background: #e3e3e3;
       position: absolute;
       bottom:25px;
       top: 35px;
       left:0px;
       right:0px;
       box-sizing:border-box;
       transition: right 0.2s ease;

    #workspace-footer
        component-footer()
