@import 'main.styl'
@import 'colors.styl'
@import 'components/workspace.styl'
@import 'components/palette.styl'
@import 'components/tabs.styl'
@import 'components/sidebar.styl'

body
  font-size: 14px
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background: #f3f3f3

#sidebar-separator
    position: absolute;
    top: 5px;
    right: 315px;
    bottom:10px;
    width: 7px;
    background: url(../images/grip.png) no-repeat 50% 50%;
    cursor: col-resize;
