form-placeholder-color = #bbbbbb;
form-text-color= #444;
form-input-focus-color=  rgba(85,150,230,0.8);
form-input-border-color=  #ccc;


node-selected-color= #ff7f0e;
port-selected-color= #ff7f0e;
link-color= #888;
link-subflow-color= #bbb;
link-unknown-color= #f00;

primary-border-color= #bbbbbb;
secondary-border-color= #dddddd;

tab-background-active= #fff;
tab-background-inactive= #f0f0f0;
tab-background-hover= #ddd;

palette-header-background= #f3f3f3;

workspace-button-background= #fff;
workspace-button-background-hover= #ddd;
workspace-button-background-active= #efefef;
workspace-button-color= #999;
workspace-button-color-disabled= #ccc;
workspace-button-color-focus= #999;
workspace-button-color-hover= #666;
workspace-button-color-active= #666;
